#container,header,section,footer{
    width:100%;
}
header > h1{
    text-align: center;
    font-size: 3em;
}
#menus > div{
    position: relative;
    border: 1px solid black;

        /* 휴대폰 기준
         구형폰 : 320px
         신형폰 : 360~375px */
         
        height: 400px;
        margin-bottom: 15px;
    
}
#menus h2{
    position: absolute;
    padding: 5px;
    font-size: 2em;
    right:3%;
    bottom: 10px;
    color: aliceblue;   
    text-shadow: 3px 3px 5px black;
}
#menu1{
    background:url(../img/dish1.jpg) no-repeat center;
    background-size: cover;
}
#menu2{
    background:url(../img/dish2.jpg) no-repeat center;
    background-size: cover;
}
#menu3{
    background:url(../img/dish3.jpg) no-repeat center;
    background-size: cover;
}
#menu4{
    background:url(../img/dish4.jpg) no-repeat center;
    background-size: cover;
}
#menu5{
    background:url(../img/dish5.jpg) no-repeat center;
    background-size: cover;
}
footer{
    background-color:black;
    height: 100px;
}
footer > p{
    font-size: 1.5em;
    color:white;
    text-align: center;
    line-height: 100px;
}




/* 태블릿 : 768px~ */
@media screen and (min-width:768px) {
    #menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #menu1,#menu2,#menu3,#menu4{
        width: 49%;
    }
    #menu5{
        width: 100%;
    }
}



/* 데스크탑 : 1024px ~ 1280px */
@media screen and (min-width:1000px) {
    #menu1,#menu2,#menu3,#menu4,#menu5{
        width: 32%;
    }
    #menu5{
        /* flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0; */
        flex:1 1 0;
        margin-left: 1.7%;
    }
}